@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    background-color: rgb(5, 1, 42);
}

.main__iconos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.main__selectores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    margin-top: 70px;
    opacity: 1;
}

.main__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__fila {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    opacity: 0;
}

.card {
    height: 245px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px 5px #000000;
    background-color: #220443; 
    border: 1px solid #3C1C78; 
    border-radius: 22px;
}

.texto--big {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(171, 190, 207);
    text-align: center;
    font-size: 2em;
}

.texto {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(171, 190, 207);
    text-align: center;
    font-size: 1.5em;
}

.texto__convertir {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(171, 190, 207);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.icono {
    height: 200px;
    width: 174px;
    cursor: pointer;
}

#nombreInput {
    opacity: 0;
    height: 28px;
    border: 2px solid #3C1C78;
    border-radius: 22px;
    padding: 10px;
}

#subtitulo {
    font-size: 1.8em;
}

.input__select {
    appearance: none;
    height: 40px;
    width: 300px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    display: inline-block;
	background: #220443;
	font-size: 1em;
	color: rgb(234, 227, 227);
    border: 1px solid #3C1C78;    
    border-radius: 22px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;    
    outline: none;
    background-image: url(../images/down-arrow.png);
    background-position: 95%;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input__number {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    text-align: center;
    height: 30px;
    width: 250px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    background: #d4cdff;
    border: 1px solid #3C1C78;    
    outline: none;
}

.output {
    border: 2px solid rgb(0, 173, 151);
    border-radius: 22px;
    padding: 20px;
    background: #220443;
}

.swal2-popup {
    font-family: 'Ubuntu', sans-serif;;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.card:hover{
    box-shadow: 0px 0px 20px 10px #3C1C78;
    transition: 0.5s;
}

@media only screen and (min-width: 768px) and (max-width: 1079px) {
    .icono {
        height: 140px;
        width: 122px;
    }

    .card {
        height: 200px;
    }

    .texto--big {
        font-size: 1.8em;
    }

    .texto {
        font-size: 1.3em;
    }

    #subtitulo {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 767px) {
    .icono {
        height: 101px;
        width: 88px;
    }
    
    .card {
        height: 160px;
    }
    
    .texto--big {
        font-size: 1.5em;
    }
    
    .texto {
        font-size: 1em;
    }
    
    #subtitulo {
        font-size: 1.2em;
    }
}